html {
    font-family: sans-serif;
    font-size: 12pt;

    padding: 0;
    margin: 0;

    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 1em;
    min-height: 100%;
    color: black;
}

h1 {
    color: white;
    text-shadow: 1px 1px 2px white;
}

h3 {
    color: white;
    text-shadow: 1px 1px 2px white;
}
.waiting {
  color: red;
}

ul {
    list-style-type: none;
    width: 45%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
   float: left;
  }
  
li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }

.active {
     background-color: white;
     color: black;
 }
  
li a:hover {
   background-color: #111;
 }

 .active:hover {
     background-color: white;
     color: black;
 }

 .helptext {
    width: 75%;
    margin-top: 1em;
    margin-bottom: 3em;
    margin-left: .5em;
    color: white;
    margin-bottom: 1.5em;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  p {
    margin-top: 1em;
  }

  .auth-headline {
      color: black;
      font-weight: bold;
      text-decoration: underline;

  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  button {
    background-color: #FFF;
    width: 100%;
    border: 1px solid #f44336;
    border-radius: .2em;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  button:hover {
    background-color: #f44336;
    color: white;
    cursor: pointer;
  }
  
  .auth {
    border-radius: 5px;
    background-color: rgba(232, 232, 232,0.6);
    padding: 1.6em;
    width: 40%;
  }

#ergebnis div {
    background: rgba(255, 255, 255, 0.85);
    width: 75%;
    border: 2px solid white;
    padding: 1em;
    border-radius: 0.44em;
    border-radius: 0.8em;
    margin-top: 1em;
}

.bestellungen {
    background: rgba(209, 211, 221, 0.65);
    border: 2px solid darkblue;
    border-radius: 0.44em;
    margin-left: 1em;
    padding: 1em;
    margin-right: 1em;
}

.unsichtbar {
    display: none !important;
}

